.details-container {
    max-width: 550px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.header-details button {
    margin-left: 2rem;

}

.description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
    padding: 4rem;
}

.details-container h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.details-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.details-container img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .details-container {
        padding: 1rem;
    }

    .details-container h2 {
        font-size: 2rem;
    }

    .details-container p {
        font-size: 1rem;
    }

    .details-container img {

        max-height: 350px;
    }
}