.list-container {
    width: 550px;
}

.h2-list {
    font-size: 3em;
    font-weight: bold;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.list-item::before {
    content: "🍺";
    margin-right: 0.5em;
}

.list-item a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.list-item a:hover {
    color: #ffae00;
}

.list-item h3 {
    font-size: 1.2rem;
}

.reset-button {
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    margin: 1em 0;
    cursor: pointer;
}



@media (max-width: 600px) {
    .h2-list {
        font-size: 2em;
    }

    .list-container {
        width: 100%;
    }
}