@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.header-title {
  font-family: 'UnifrakturCook', cursive;
  font-size: 4.5em;
  margin-bottom: 1em;
  color: #ffae00;
}

.admin-container {
  padding-bottom: 3em;
}


@media (max-width: 768px) {
  #root {
    max-width: 100%;
    overflow-x: hidden;

  }
}

@media (min-width: 769px) {
  .header-title {
    font-size: 6em;
  }
}